<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit employee</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
          background-image: url('/images/image7.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: 100% 100%;
        }
        </style>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 200vh;">
        <div class="w-70">
            <h1 class="mt-5 text-center">Edit employee</h1>
            <form th:action="@{/Esther/update/{id}(id=${employee.id})}" th:object="${employee}" method="post" class="mt-3">
               
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="employeeName">Name</label>
                    <input type="text" class="form-control" id="employeeName" th:field="*{name}" placeholder="Enter employee name">
                </div>
                <div class="form-group">
                    <label for="employeeEmail">Email</label>
                    <input type="email" class="form-control" id="employeeEmail" th:field="*{email}" placeholder="Enter employee email">
                </div>
                <div class="form-group">
                    <label for="employeeAge">Phone</label>
                    <input type="number" class="form-control" id="employeePhone" th:field="*{phone}" placeholder="Enter employee Phone">
                </div>
                <div class="form-group">
                    <label for="employeeAddress">Address</label>
                    <input type="text" class="form-control" id="employeeAddress" th:field="*{address}" placeholder="Enter employee address">
                </div>
                    <div class="form-group">
                        <label for="employeeGender">Gender</label>
                          <input type="radio" id="male" name="gender" value="male">
                          <label for="male">Male</label>
                          <input type="radio" id="female" name="gender" value="female">
                          <label for="female">Female</label><br>
                          <input type="radio" id="Other" name="gender" value="other">
                          <label for="other">Other</label>
                </div>
                <div class="form-group">
                    <label for="employeeBirthday">Birthday</label>
                    <input type="datetime-local" id="DOB" name="DOB" value="DOB">
                </div>
                <div class="form-group">
                    <label for="course">Choose a course:</label>
                    <select id="course" name="course">
                        <option value="cse">CSE</option>
                        <option value="eee">EEE</option>
                        <option value="civ">CIV</option>
                        <option value="mech">MECH</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="language">Choose a language:</label><br>
                    <input type="checkbox" id="python" name="language" value="python">
                    <label for="python"> python</label><br>
                    <input type="checkbox" id="java" name="language" value="java">
                    <label for="java">java</label><br>
                    <input type="checkbox" id="c" name="language" value="c">
                    <label for="c"> c </label>
                </div>
                <div class="form-group">
                    <label for="files">Select files</label>
                    <input type="file" id="files" name="files"th:field="*{file}" value="file"><br>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>